<!DOCTYPE html>
<html>
    <head>
        <title>Valex Shop</title>
        <meta charset="utf-8">
        <meta name="Author" content="Egerega Virtue">
        <meta name="description" content="An online website customizable template">
        <meta name="keywords" content="E-commerce Shopping online-store">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="" id="viewport">
        <!--bootstrap css and js -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <!--Custom styles-->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <!-- custom styles -->
        <link href="../../../content/themes/css/mediascreens.css" rel="stylesheet" >
        <link href="../../../content/themes/css/constants.css" rel="stylesheet" >
        <link href="../../../content/themes/css/standard.css" rel="stylesheet" >
        <script type="text/javascript">
            var vw = window.screen.width;
            // document.querySelector('meta[name="description"]').setAttribute("content", _desc);
            console.log(vw)
            var viewport = document.getElementById("viewport");

            if(vw > 1000){
                 viewport.setAttribute('content', 'width=1200 inital-scale=1.0');

            }else if(vw > 700 && vw < 1000){
                 viewport.setAttribute('content', 'width=1100 inital-scale=1.0');
                 
            }else if(vw > 350 && vw < 700 ){
                viewport.setAttribute('content', 'width=1000 inital-scale=1.0');
            
           }else{
                 viewport.setAttribute('content', 'width=400 inital-scale=1.0');
            }
            
        </script>
    </head>
    <body>
        <div class="page_wrapper">
            <header>
                <div class="containers">
                    <div class="rows header_row">
                        <div class="brand_row">
                            <div class="brand">
                                <a href="#" class="logo_link">
                                    <img src="../../../content/uploads/images/logo/logo3.png" alt="VeeShop" class="brand_logo">
                                </a>
                            </div>
                            <div class="header_search">
                                <form action="" class="search_form">
                                    <div class="search_group">
                                        <span class="search_icon" id="basic-addon1"><i class="bi bi-search"></i></span>
                                        <input type="search" class="header_search_input" placeholder="Search Products" aria-label="Username" aria-describedby="basic-addon1">
                                      </div>
                                      
                                </form>
                            </div>
                            <div class="header_cart_row">
                                <div class="other_links">

                                    <div class="header_wishlist">
                                        <a href="" class="wishlist_link">
                                            <i class="bi-heart header_icon"></i>
                                        </a>
                                    </div>
                                    <div class="header_user">
                                        <a href="" class="user_link">
                                            <i class="bi-person header_icon"></i>
                                        </a>
                                    </div>
                                    <div class="header_cart">
                                        <a href="" class="cart_link">
                                            <i class="bi-bag header_icon"></i><sup class="cart_no">5</sup>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="collection_row">
                            <ul>
                                <li><a href="" class="nav_links ">Sales</a></li>
                                <li><a href="" class="nav_links">All Products</a></li>
                                <li><a href="" class="nav_links">Shop</a></li>
                                <li><a href="" class="nav_links">Catgories</a></li>
                                <li><a href="" class="nav_links">Shop Brands</a></li>
                                <li><a href="" class="nav_links">Popular Products</a></li>
                                <li><a href="" class="nav_links">Help &quest;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </header>
            <main>
                
                <div class="rows page_navigation">
                    <div class="pages">
                        <p>
                            <a href="../store/index.html" class="page_link">Home</a>
                            <a href=""  class="page_link active">/Cart</a>
                            <!-- <a href=""  class="page_link"></a> -->
                            
                        </p>
                    </div>
                </div>
                <div class="rows cart_page" >
                    <!-- <div class="cart_header">
                        <h4>Cart</h4>
                    </div> -->
                    <div class="cart_wrap">
                        <div class="cart_products">
                            <div class="for_each_product" >
                                <div class="cart_product_image"><img src="../../content/uploads/images/products/product3.jpg" alt=""></div>
                                <div class="cart_product_details">
                                    <div class="cart_product_name">
                                        <h4>Zikel Skin Fit foundation</h4>
                                        <small>Zikel Cosmetics</small>
                                    </div>
                                    <div class="cart_product_variant">
                                        <p class="display_variant" >Red-mini</p>
                                    </div>
                                </div>
                                <div class="quantity_wrap">
                                    <div class="cart_quantity">
                                       <!-- removed quantity ADJUSTMENTS -->
                                    </div>
                                </div>
                                
                                <div class="cart_price">
                                    <div class="item_price">
                                        <p>₦23,000.00</p>
    
                                        <p>x 2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="for_each_product">
                                <div class="cart_product_image"><img src="../../content/uploads/images/products/product3.jpg" alt=""></div>
                                <div class="cart_product_details">
                                    <div class="cart_product_name">
                                        <h4>Zikel Skin Fit foundation</h4>
                                        <small>Zikel Cosmetics</small>
                                    </div>
                                    <div class="cart_product_variant">
                                        <p class="display_variant" >Red-mini</p>
                                    </div>
                                </div>
                                <div class="quantity_wrap">
                                    <div class="cart_quantity">
                                        <!-- removed quantity ADJUSTMENTS -->
                                    </div>
                                </div>
                                
                                <div class="cart_price">
                                    <div class="item_price">
                                        <p>₦23,000.00</p>
    
                                        <p>x 2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subtotal_wrap">
                            <div class="subtotal">
                                <div class="subtotal_details">
                                    
                                    <p>SubTotal</p>
                                    <p class="price_display">₦23,000.00</p>
                                </div>
                                <div class="subtotal_details">
                                    <p>Shipping</p>
                                    <p>Calculated at checkout</p>
                                </div>
                                <div class="subtotal_details">
                                    <p>Total</p>
                                    <p class="price_display">₦23,000.00</p>
                                </div>
                            </div>
                            <div class="coupon">
                                <form action="" method="post">
                                    <div class="form_group_coupon">
                                        <input type="text" class="coupon_code" placeholder="Coupon Code">
                                        <button type="submit" class="apply_coupon">Apply</button>
                                    </div>
                                </form>
                            </div>
                            <div class="go_to_order_wrap"><a href="" class="go_to_order">Checkout</a></div>
                        </div>
                    </div>
                </div>


                
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                
                <div class="newsletter_row">
                    <div class="new_letter">
                        <form action="" class="subscribe_form">
                            <div class="info_row"><p>Be the first to know about sales and new arrivals!</p></div>
                            <div class="form_row">
                                <input type="text" placeholder="E-mail" name="" class="subscribe_input">
                                <button type="submit" class="subscribe_btn">Subscribe</button>
                            </div>
                            
                        </form>
                        <div class="social_wrapper">
                            <ul>
                                <li><a href="" class="socials"><i class="bi bi-instagram"></i></a></li>
                                <li><a href="" class="socials"><i class="bi bi-whatsapp"></i></a></li>
                                <li><a href="" class="socials"><i class="bi bi-tiktok"></i></a></li>
                                <li><a href="" class="socials"><i class="bi bi-facebook"></i></a></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <div class="rows">
                    <div class="footer_row">
                        <div class="address_wrapper">
                            <div class="address_wrap">
                                
                                <div class="address"><i class="bi bi-pin-map-fill"></i><p>Shop 3 Block 56 Garki Market, Abuja</p></div>
                                <div class="contact"><i class="bi bi-telephone"></i><a href="tel:+2348074036471" class="">+2348074036471</a></div>
                            </div>
                            
                        </div>
                        <div class="footer_links_wrapper">
                            <div class="footer_links">
                                <ul>
                                    <li><a href="" class="footer_link">Shipping and Delivery</a></li>
                                    
                                    <!-- <li><a href="" class="footer_link"></a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="footer_links_wrapper">
                            <div class="footer_links ">
                                <ul>
                                    
                                    <li><a href="" class="footer_link">Returns Policy</a></li>
                                    <!-- <li><a href="" class="footer_link"></a></li> -->
                                </ul>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="rows">
                    <div class="copyright"><p>2024 powered by Valex Technologies <i class="bi-heart-fill" style="color: red;"></i></p></div>
                </div>
            </footer>
        </div>
        <script type="text/javascript">
            const minus = document.getElementById('minus')
            const plus = document.getElementById('plus')
            
        
            function deduct(cart_id){
                const quantity = document.getElementById(`quantity_${cart_id}`)
                var currentquantity = quantity.value
                var newquantity = currentquantity - 1
                if(currentquantity == 1){
                    var newquantity = 1 
                }else{
                    var newquantity = currentquantity - 1
                }
                quantity.setAttribute('value', newquantity)
            }
        
            function add(cart_id){
                const quantity = document.getElementById(`quantity_${cart_id}`)
                var currentquantity = parseInt(quantity.value)
                var newquantity = currentquantity + 1
                quantity.setAttribute('value', newquantity)
            }
        
        </script>
        <script type="text/javascript" src="../../../content/themes/script/product_variation.js"> </script>
        <script type="text/javascript" src="../../../content/themes/script/product_slider.js"> </script>
    </body>
</html>